.table-margin{
  margin-left: 10px;
  margin-right: 10px;
}

.thead-customs{
  background-color: #90cfda;
  text-align: center;
  align-items: center;
}

.ed-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete{
  background-color: #F44336; 
  border: none;
  color: white; 
  padding: 10px 18px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer;
  outline: none;
  transition-duration: 0.4s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  border-radius: 10px;
}

.edit{
  background-color: #2196F3; 
  border: none;
  color: white; 
  padding: 10px 18px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer;
  outline: none;
  transition-duration: 0.4s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  border-radius: 10px;
}

.create{
  background-color: #4CAF50; 
  border: none;
  color: white; 
  padding: 10px 18px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer;
  outline: none;
  transition-duration: 0.4s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  border-radius: 10px;
}

.delete:hover {
  background-color: white;
  color: #F44336;
  border: 2px solid #F44336;
  animation-name: delete-animation;
}

.edit:hover {
  background-color: white;
  color: #2196F3;
  border: 2px solid #2196F3;
  animation-name: edit-animation;
}

.create:hover {
  background-color: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  animation-name: create-animation;
}

@keyframes delete-animation {
  from {
    background-color: #F44336;
    color: white;
  }
  to {
    background-color: white;
    color: #F44336;
    border: 2px solid #F44336;
    transform: scale(1.1);
  }
}

@keyframes edit-animation {
  from {
    background-color: #2196F3;
    color: white;
  }
  to {
    background-color: white;
    color: #2196F3;
    border: 2px solid #2196F3;
    transform: scale(1.1);
  }
}

@keyframes create-animation {
  from {
    background-color: #4CAF50;
    color: white;
  }
  to {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
    transform: scale(1.1);
  }
}